<h1>Hello</h1>

<%# svg = Search.new.seeded_pattern("Goat").to_svg %>
<!-- <p><%#= Search.svg_to_png(svg,150,150).to_s %>"></p> -->

<%#= Search.svg_to_png(svg,150,150).to_data_uri %>">

<div style="background-image: <%= Search.new.seeded_pattern("Yodel").to_data_uri %>"><h1>Seeded with: Yodel</h2></div>
<div style="background-image: <%= Search.new.seeded_pattern("Yodel").to_data_uri %>"><h1>Seeded with: Yodel</h2></div>
<div style="background-image: <%= Search.new.seeded_pattern("Yodel").to_data_uri %>; width: 150px; height:150px"><h1>Seeded with: Yodel</h2></div>

<div style="background-image: <%= Search.new.random_pattern_with_color("FFFFFF").to_data_uri %>"><h1>Color 0xFFFFFF</h2></div>
<div style="background-image: <%= Search.new.random_pattern_with_color("FFFFFF").to_data_uri %>"><h1>Color 0xFFFFFF</h2></div>
<div style="background-image: <%= Search.new.random_pattern_with_color("FFFFFF").to_data_uri %>"><h1>Color 0xFFFFFF</h2></div>

<div style="background-image: <%= @pattern.to_data_uri %>"><h1>Cheese</h2></div>

<div style="background-image: <%= Search.new.random_pattern.to_data_uri %>"><h1>Random</h2></div>
<div style="background-image: <%= Search.new.random_pattern.to_data_uri %>"><h1>Random</h2></div>
<div style="background-image: <%= Search.new.random_pattern.to_data_uri %>"><h1>Random</h2></div>
